[[extend 'layout.html']]

    [[block page_head]]
      <title>About</title>
    [[end]]

    <div>
        [[if globals().get('user'):]]
                <div class="column has-text-right">
                    <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('shopping_cart', signer=url_signer)]]">
                        <i class="fa  fa-shopping-cart "></i>
                    </a>
                    [[if isPersonalized == True:]]
                        <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('profile', currentUserName, signer=url_signer)]]">
                            <i class="fa fa-fw fa-user "></i>
                        </a>

                    [[else:]]
                     [[if isPersonalized == False:]]
                         <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('add_user_personalization', signer=url_signer)]] ">
                             <i class="fa fa-fw fa-user"></i>
                         </a>
                        [[pass]]
                    [[pass]]
                </div>
        [[pass]]

     </div>


<div>
    <div class="title m-6">
        About Us
    </div>
    <div class="columns m-6" id="vue-target">
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div>
            <div class="section has-text-centered">
                Aaron Chen
            </div>
            <button class="button has-background-white" v-if="aaron" @click="show(1)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    Aaron is a graduating student from the University of California Santa Cruz majoring in Computer Science. He will be attending the University of California Los Angeles to pursue a Master in Computer Science: Artificial Intelligence and Interning in Monterey, California.
                </div>
                <button class="button has-background-white" @click="hide(1)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div>
            <div class="section has-text-centered">
                Amaan Sheikh
            </div>
            <button class="button has-background-white" v-if="amaan" @click="show(2)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    Amaan is a 3rd year student at the University of California Santa Cruz majoring in Computer Science. He is an incoming data science intern.
                </div>
                <button class="button has-background-white" @click="hide(2)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div>
            <div class="section has-text-centered">
                Darien Cruz
            </div>
            <button class="button has-background-white" v-if="darien" @click="show(3)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    Darien is a graduating student from the University of California Santa Cruz majoring in Computer Science. He will be attending the University of California Los Angeles to pursue a Master in Computer Science.
                </div>
                <button class="button has-background-white" @click="hide(3)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div>
            <div class="section has-text-centered">
                Jonathan Muniz-Murguia
            </div>
            <button class="button has-background-white" v-if="jonathan" @click="show(4)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    Jonathan is a graduating student from the University of California Santa Cruz majoring in Computer Science. He will begin working fulltime in San Francisco.
                </div>
                <button class="button has-background-white" @click="hide(4)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div>
            <div class="section has-text-centered">
                Yashaswi Bathula
            </div>
            <button class="button has-background-white" v-if="yashaswi" @click="show(5)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    Yashaswi is a 3rd year student at the University of California Santa Cruz majoring in Computer Science. She will be interning in San Francisco as a data science intern.
                </div>
                <button class="button has-background-white" @click="hide(5)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
    </div>
</div>


[[block page_scripts]]
<script src="js/aboutus.js"></script>
[[end]]
