[[extend 'layout.html']]

<div>
    <div class="title m-6">
        About Us
    </div>
    <div class="columns m-6" id="vue-target">
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div> 
            <div class="section has-text-centered">
                Aaron Chen
            </div>
            <button class="button has-background-white" v-if="aaron" @click="show(1)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    This is a section about Aaron
                </div>
                <button class="button has-background-white" @click="hide(1)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div> 
            <div class="section has-text-centered">
                Amaan Sheikh
            </div>
            <button class="button has-background-white" v-if="amaan" @click="show(2)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    This is a section about Amaan
                </div>
                <button class="button has-background-white" @click="hide(2)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div> 
            <div class="section has-text-centered">
                Darien Cruz
            </div>
            <button class="button has-background-white" v-if="darien" @click="show(3)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    This is a section about Darien
                </div>
                <button class="button has-background-white" @click="hide(3)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div> 
            <div class="section has-text-centered">
                Jonathan Muniz-Murguia
            </div>
            <button class="button has-background-white" v-if="jonathan" @click="show(4)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    This is a section about Jonathan
                </div>
                <button class="button has-background-white" @click="hide(4)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class ="card-image has-centered px-6">
                <img src="images\headshot.png">
            </div> 
            <div class="section has-text-centered">
                Yashaswi Bathula
            </div>
            <button class="button has-background-white" v-if="yashaswi" @click="show(5)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div v-else>
                <div class="section">
                    This is a section about Yashaswi
                </div>
                <button class="button has-background-white" @click="hide(5)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
    </div>
</div>


[[block page_scripts]]
<script src="js/aboutus.js"></script>
[[end]]