[[extend "layout.html"]]

<style>
  .auth-container {

    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 10px;
  }
  a.button{
      margin-left: 10px;
  }

</style>

<div>
<section class="column is-half is-offset-one-quarter">
  <div class=" box "  style="background-color:#F9A276;" >
      <h1 class="title is-1 has-text-white has-text-centered has-text-weight-bold">Handmade</h1></h1>
      <h1 class="subtitle is-4 has-text-centered has-text-weight-bold	"> User Information</h1>

    <div class=" box has-background-white">

      [[=form]]
    </div>
  </div>

</section>

  </div>
