[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<section class="section has-background-warning">
<h1 class="is-size-1-mobile has-text-weight-bold has-text-success has-text-centered">
    Displaying results for the category: "Toys & Entertainment"
</h1>

<div class="level">
    [[for prod in rows:]]
          <div class="card">
              <div class ="card-image has centered px-6">
                <img src="[[=prod['image1']]]" width="600" height="600">
              </div>
              <div class="card-content">
                <p class= "title is-size-1 has-text-centered">[[=prod['name']]]</p>
                <p class= "title is-size-7 has-text-centered">[[=prod['description']]]</p>
                <p class= "has-text-centered">$[[=prod['price']]]</p>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Buy Now</a>
                <a href="#" class="card-footer-item">Add to Cart</a>
              </footer>
            </div>
    <div class="mr-6"> </div>
[[pass]]

  </div>
</div>
</section>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
</script>
[[end]]