[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>


<div class="section" id="vue-target" v-cloak>
  <h1 class="title">
    Edit Product Details
  </h1>

  <br>

  <!-- Product Name -->
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Product Name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" value="[[=product_name]]" type="text" v-model="add_product_name" placeholder="Insert a name for the product">
          <p v-if="name_flag" class="has-text-danger">Cannot be blank!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Product type -->
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Product Type</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select v-model="add_product_type">
                <option value="" disabled >Select an option</option>
                <option >Jewelry and Accessories</option>
                <option >Clothing and Shoes</option>
                <option >Home and Living</option>
                <option >Toys and Entertainment</option>
                <option >Art and Collectibles</option>
                <option >Other</option>
            </select>
          </div>
          <p v-if="type_flag" class="has-text-danger">Please choose an option!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Product Description -->
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Product Description</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" v-model="add_product_description"
            placeholder="Provide a descirption of the product">
            [[=description]]
          </textarea>
          <p v-if="desc_flag" class="has-text-danger">Please provide a description!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Price -->
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Price</label>
    </div>
    <div class="field-body">

      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            $
          </a>
        </p>
        <p class="control">
          <input class="input" value="[[=price]]" type="number" v-model="add_product_price" placeholder="Provide a price" />
          <p v-if="price_flag" class="has-text-danger ml-2">Invalid Value!</p>
        </p>
      </div>
    </div>
  </div>


  <!-- Images -->
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Replace Images (Select up to 4)</label>
    </div>
    <div class="field-body">
      <div class="field">

        <div v-if="!product_image1">
          <div class="file is-info">
            <label class="file-label">
              <input class="file-input" type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                @change="upload_file($event)" multiple>
              <span class="file-cta">
                <span class="file-label">
                  Choose a file...
                </span>
              </span>
            </label>
          </div>
          <p v-if="img_flag" class="has-text-danger">Requires at least one image</p>

        </div>

        <div v-if="product_image1">
          <img v-if="product_image1" width="200" :src="product_image1" />
        </div>

        <br>

        <div v-if="product_image2">
          <img v-if="product_image2" width="200" :src="product_image2" />
        </div>

        <br>

        <div v-if="product_image3">
          <img v-if="product_image3" width="200" :src="product_image3" />
        </div>

        <br>

        <div v-if="product_image4">
          <img v-if="product_image4" width="200" :src="product_image4" />
        </div>

      </div>
    </div>
  </div>

  <!-- Action to send -->
  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field has-addons has-addons-right">

        <div class="control" v-if="!submitted">
          <input type="submit" @click="add_product_info" value="Save Changes" class="button is-info">
        </div>

        <div class="control">
          <input type="submit" @click="delete_prod" value="Delete Product" class="button is-danger" style="margin-left: 10px">
        </div>

        <div v-if="submitted">
          <a class="button is-success" href="[[=URL('profile', username, signer=url_signer)]]">
            Return to Profile
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

</div>

[[block page_scripts]]
<script>
  let add_product_info_url = "[[=XML(add_product_info_url)]]";
  let add_product_name = "[[=product_name]]";
  let add_product_type = "[[=type]]";
  let add_product_description = "[[=description]]";
  let add_product_price = [[=price]];
  let delete_prod_url = "[[=XML(delete_prod_url)]]";
  let on_delete_url = "[[=on_delete_url]]";
  let on_edit_url = "[[=on_edit_url]]";
</script>
<script src="js/edit_product.js"></script>
[[end]]
