[[extend 'layout.html']]



<div class="section">


    <div class="block m-3">
        <div class="title">
            Frequently Asked Questions
        </div>
    </div>


    <div class="box "  id="vue-target" style="background-color: #F9A276;">
        <div class="box">
            <div class="box">
                What is Handmade?
            </div>
            <button class="button has-background-white" v-if="a1" @click="show(1)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div class="block" v-else>
                <div class="block ml-6 mr-6">
                    Handmade is an ecommerce website designed to sell handmade goods. This ranges from selling artwork to watches, anything you make or create can be sold here.
                </div>
                <button class="button has-background-white" @click="hide(1)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="box">
            <div class="box">
                What is Personalization?
            </div>
            <button class="button has-background-white" v-if="a2" @click="show(2)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div class="block" v-else>
                <div class="block ml-6 mr-6">
                    A personalized account allows for users to be able to review and rate products as well as recieve recommendations on new products that are specific towards your interests.
                </div>
                <button class="button has-background-white" @click="hide(2)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
        <div class="box">
            <div class="box">
                How do I sell an item?
            </div>
            <button class="button has-background-white" v-if="a3" @click="show(3)">
                <i class="fa fa-sort-desc"></i>
            </button>
            <div class="block" v-else>
                <div class="block ml-6 mr-6">
                    In order to sell an item you first must create an account and personalize your account. Once you have done so you can list your item using the sell button on the homepage to create a listing and sell your product.
                </div>
                <button class="button has-background-white" @click="hide(3)">
                    <i class="fa fa-sort-asc"></i>
                </button>
            </div>
        </div>
    </div>


</div>

[[block page_scripts]]
<script src="js/faq.js"></script>
[[end]]