[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

.notification-corner:hover{
  opacity: 1;
}


.notification-corner{
    position: fixed;
	right:0;
	bottom:0;
	width:300px;
	height:170px;
    background-color: #f1641e;
	-webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	z-index: 9999;
	margin: 10;
	padding: 10;
	opacity: 0.6;
}

.product-images-container {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 600px;

}


.product-image:not(:last-child){
  padding-right: 8%;
}

.product-image img{
  width: 400px;
  height: 250px;
}

.listTopics{

    background-color: #F9A276;

}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1641e;
  border-radius: 10px;
}


</style>

<div id="vue-target" v-cloak>

  <div>

    [[ personalized =isPersonalized]]
    [[ if personalized == True:]]

     [[else: ]]
        [[if display == True: ]]
            <div>
                    <div  @mouseover="setHover(true)" @mouseleave="setHover(false)" :class="{'onHover': hover}" class=" box px-1 notification-corner " >
                       <div >
                           <h1 class=" title is-5 has-text-light has-text-centered "> Hey there, [[=globals().get('user').get('first_name')]] !</h1>
                           <h1 class=" title is-6 has-text-warning has-text-centered "> Let's get Personal.</h1>
                           <div class="  has-text-centered ">
                                <a class="button " href="[[=URL('add_user_personalization', signer=url_signer)]] " style="background-color:#F9A276"> Personalize! </a>
                            </div>
                       </div>

                    </div>
                </div>

        [[pass]]
         [[pass]]
  </div>


      <section class="section">
         <div class="columns block is-variable is-8">
              <!-- First Half of page -->
             <div class="column is-one-third">


                <div  class="notification has-text-white " style="background-color: #F9A276; ">
                  <div class="content is-medium ">
                      <h1 class="title">Store Navigation</h1>
                      [[if globals().get('user'):]]
                      <div class="column is-vcentered">
                                [[if personalized == True:]]
                                   <a style="color:#f1641e;" class="button is-medium has-text-centered" href="[[=URL('profile', currentUserName, signer=url_signer)]]"> My Profile </a>
                                    <a style="color:#f1641e;" class="button is-medium has-text-centered" href="[[=URL('add_product', currentUserName, signer=url_signer)]]"> Sell an Item </a>
                                [[else:]]
                                    [[if display == True:]]
                                    <a style="color:#f1641e;" class="button is-medium  has-text-centered" href="[[=URL('add_user_personalization', signer=url_signer)]] "> Profile</a>
                                    <a style="color:#f1641e;" class="button is-medium  has-text-centered" href="[[=URL('add_user_personalization', signer=url_signer)]] "> Sell an Item </a>

                                [[pass]]
                            [[pass]]
                      </div>
                      <h1 class="title">Shop Categories</h1>

                      [[pass]]

                    <ul>

                      <a href="[[=URL('display_product_category/Jewelry and Accessories')]]"><li>Jewelry & Accessories</li></a>
                      <a href="[[=URL('display_product_category/Clothing and Shoes')]]"><li>Clothing & Shoes</li></a>
                      <a href="[[=URL('display_product_category/Home and Living')]]"><li>Home & Living</li></a>
                      <a href="[[=URL('display_product_category/Toys and Entertainment')]]"><li>Toys & Entertainment</li></a>
                      <a href="[[=URL('display_product_category/Art and Collectibles')]]"><li>Art & Collectibles</li></a>
                      <a href="[[=URL('display_product_category/Other')]]"><li>Other</li></a>
                    </ul>
                    </div>
                </div>

            </div>
            <!-- Second Half of page -->
            <div class="column is-two-thirds">
            <!-- First Scroller -->
            <h1 class="title has-text-weight-bold " style="color: #f1641e">[[=firstRowText]]</h1>
             <nav class="level is-mobile product-images-container scroller" >

      [[for product in firstProductRow:]]

        <div class="level-item level-left product-image">
            <div class="card "  style=" border-style: solid; border-color: #f1641e;">
              <div class="card-image pt-6">
               <div class ="card-image has centered px-6">
                    <img src="[[=product['image1']]]" width="600" height="600">
                  </div>
                  <div class="card-content">
                       <p class= "title is-size-1 has-text-centered">[[=product['name']]]</p>
                       <p class= "title is-size-4 has-text-centered">[[=product['description']]]</p>
                       <p class="mb-4"> </p>
                       <p class= "title is-size-6 has-text-centered">Sold by: [[=product['first_name']]] [[=product['last_name']]] ([[=product['username']]])</p>
                       <p class="mb-4"> </p>
                       <p class= "title is-size-7 has-text-centered">Rating: [[=product['rating']]]</p>
                       <p class="mb-3"> </p>
                       <p class= "has-text-centered">$[[=product['price']]]</p>
                  </div>
                  <footer class="card-footer">
                      <!--view now will send user to product page, must receiv & set in controller-->
                     <!--<a href="[[=URL('product',  )]] "> View Now </a>-->
                    <a href="[[=product['prodURL']]]" class="card-footer-item">View</a>
                    <a href="#" class="card-footer-item">Add to Cart</a>
                  </footer>
              </div>
            </div>
      </div>


      [[pass]]
    </nav>

      <!-- Second Scroller -->
    <p class="mt-6"></p>
    <h1 class="title has-text-weight-bold" style="color: #f1641e">Trending Items</h1>
    <nav class="level is-mobile product-images-container scroller" >

      [[for product in trendingProducts:]]
          <div class="level-item level-left product-image ">
            <div class="card  ">
              <div class="card-image pt-6"  style=" border-style: solid; border-color: #f1641e;">
               <div class ="card-image has centered px-6">
                    <img src="[[=product['image1']]]" width="600" height="600">
                  </div>
                  <div class="card-content ">
                      <p class= "title is-size-1 has-text-centered">[[=product['name']]]</p>
                      <p class= "title is-size-4 has-text-centered">[[=product['description']]]</p>
                      <p class="mb-4"> </p>
                      <p class= "title is-size-6 has-text-centered">Sold by: [[=product['first_name']]] [[=product['last_name']]] ([[=product['username']]])</p>
                      <p class="mb-4"> </p>
                      <p class= "title is-size-7 has-text-centered">Rating: [[=product['rating']]]</p>
                      <p class="mb-3"> </p>
                      <p class= "has-text-centered">$[[=product['price']]]</p>
                  </div>
                  <footer class="card-footer">
                    <a href="[[=product['prodURL']]]" class="card-footer-item">View</a>
                    <a href="#" class="card-footer-item">Add to Cart</a>
                  </footer>
              </div>
            </div>
         </div>
      [[pass]]
    </nav>
  </div>
 </div>
</section>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
