[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

.notification-corner:hover{
  opacity: 1;
}


.NoOverlay {
  position:absolute;
  width: 50%;
  height: 20%;
  top: 10%;
  z-index: 5;

}

.notification-corner{
    position: fixed;
	right:-100;
	bottom:0;
	width:250px;
	height:250px;
    background-color: rgb(1,89,138);
	-webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.6);
	z-index: 9999;
	margin: 0;
	padding: 0;
	opacity: 0.6;


}

</style>

<div  id="vue-target" v-cloak>

  <div>

      <!--Conndtional alert rendering TODO: NEEDS TO BE FULL SCREEN + BLUR -->

    [[ personalized =isPersonalized]]
    [[ if personalized == True:]]
        <h1 >[[=personalized]]</h1>
     [[else: ]]
        [[if display == True: ]]
            <div class=" onHover overlay"  >
                    <div class=" box px-1 notification-corner  onHover " >
                        <h1 class="py-3 title has-text-light has-text-centered "> Hey there!</h1>
                        <h1 class=" px-3 has-text-white has-text-centered "> Handmade Crafts needs to know more about you.</h1>
                        <div class=" py-3 has-text-centered ">
                             <a class="button is-success is-medium" href="[[=URL('add_user_personalization')]]"> Personalize! </a>
                        </div>

                    </div>

                </div>

            </div>
      [[pass]]

     [[pass]]

    [[pass]]



      <section class="section has-background-warning">
        <div class="columns block is-mobile">
            <div class="column is-two-thirds">
                <div class="columns block is-mobile">
                    <div class="column is-half">
                      <!-- Search Bar -->
                      <div class="field is-grouped">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Search for crafts">
                        </p>
                        <p class="control">
                          <a class="button is-info">
                            Search
                          </a>
                        </p>
                      </div>


                  <!-- List of Topics bar-->
                  <div class="notification is-link has-background-info mt-6">
                  <p class="is-size-2">List of Topics-</p>
                  <div class="content is-medium">
                  <ul>
                  <a href="[[=URL('displayProductCategory')]]"><li>Jewelry & Accessories</li></a>
                  <a href="#"><li>Clothing & Shoes</li></a>
                  <a href="#"><li>Home & Living</li></a>
                  <a href="#"><li>Toys & Entertainment</li></a>
                  <a href="#"><li>Art & Collectibles</li></a>
                  <a href="#"><li>Others</li></a>
                </ul>
                </div>
                </div>

                    </div>
                    <!-- Product Cards-->
                    <div class="column is-half">
                    <!-- Product Card 1-->
                        <div class="card">
                          <div class ="card-image has centered px-6">
                            <img src="images\pic1.jpg">
                          </div>
                          <div class="card-content">
                            <p class= "title is-size-1 has-text-centered">Fish Toys</p>
                            <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                            <p class= "has-text-centered">$69.00</p>
                          </div>
                          <footer class="card-footer">
                            <a href="#" class="card-footer-item">Buy Now</a>
                            <a href="#" class="card-footer-item">Add to Cart</a>
                          </footer>
                        </div>
                  <!-- Product Card 2-->
                        <div class="mt-6">
                          <div class="card">
                            <div class ="card-image has centered px-6">
                              <img src="images\pic2.jpg">
                            </div>
                            <div class="card-content">
                              <p class= "title is-size-1 has-text-centered">Wooden Crafts</p>
                              <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                              <p class= "has-text-centered">$12.00</p>
                            </div>
                            <footer class="card-footer">
                              <a href="#" class="card-footer-item">Buy Now</a>
                              <a href="#" class="card-footer-item">Add to Cart</a>
                            </footer>
                          </div>
                      </div>
                      <!-- Product Card 3-->
                            <div class="mt-6">
                              <div class="card">
                                <div class ="card-image has centered px-6">
                                  <img src="images\pic3.jpg">
                                </div>
                                <div class="card-content">
                                  <p class= "title is-size-1 has-text-centered">Peacock Feathers</p>
                                  <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                                  <p class= "has-text-centered">$21.00</p>
                                </div>
                                <footer class="card-footer">
                                  <a href="#" class="card-footer-item">Buy Now</a>
                                  <a href="#" class="card-footer-item">Add to Cart</a>
                                </footer>
                              </div>
                          </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
              <!-- Product Card 4-->
                <div class="card">
                  <div class ="card-image has centered px-6">
                    <img src="images\pic4.jpg">
                  </div>
                  <div class="card-content">
                    <p class= "title is-size-1 has-text-centered">Wooden Hats</p>
                    <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                    <p class= "has-text-centered">$7.00</p>
                  </div>
                  <footer class="card-footer">
                    <a href="#" class="card-footer-item">Buy Now</a>
                    <a href="#" class="card-footer-item">Add to Cart</a>
                  </footer>
                </div>
                <!-- Product Card 5-->
                      <div class="mt-6">
                        <div class="card">
                          <div class ="card-image has centered px-6">
                            <img src="images\pic5.jpg">
                          </div>
                          <div class="card-content">
                            <p class= "title is-size-1 has-text-centered">Sewed Craft</p>
                            <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                            <p class= "has-text-centered">$10.00</p>
                          </div>
                          <footer class="card-footer">
                            <a href="#" class="card-footer-item">Buy Now</a>
                            <a href="#" class="card-footer-item">Add to Cart</a>
                          </footer>
                        </div>
                    </div>
                    <!-- Product Card 6-->
                          <div class="mt-6">
                            <div class="card">
                              <div class ="card-image has centered px-6">
                                <img src="images\pic6.jpg">
                              </div>
                              <div class="card-content">
                                <p class= "title is-size-1 has-text-centered">Colored Cards</p>
                                <p class= "title is-size-7 has-text-centered">Some nice product description about describing the product</p>
                                <p class= "has-text-centered">$3.00</p>
                              </div>
                              <footer class="card-footer">
                                <a href="#" class="card-footer-item">Buy Now</a>
                                <a href="#" class="card-footer-item">Add to Cart</a>
                              </footer>
                            </div>
                        </div>
            </div>

        </div>
      </section>


  </div>


  <!-- Put here your Vue.js template -->
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]


