<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          Handmade Crafts
          <!-- <img class="logo" width="150" src="images/site_icon.png"> -->
        </a>


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Buy/Sell
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Buy
              </a>
              <a class="navbar-item">
                Sell
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" id="vue-target-header">
            <div class="navbar-item">
              <input class="input is-small" v-model="query" @keyup="search" type="text" placeholder="Search">
            </div>

            <div v-if="results.length > 0" class="navbar-dropdown">
              <a v-for="item in results" class="navbar-item" :href="item.redirect_url">
                {{item.name}}
              </a>
            </div>
          </div>

          <div class="navbar-item">

            [[if globals().get('user'):]]
               <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-primary">
                    [[=globals().get('user').get('email')]]
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                    <a class="navbar-item" href="[[=URL('/profile')]]">Profile</a>
                    <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>

                  </div>
                </div>

              [[else:]]
            <div class="buttons">
              <a class="button is-primary" href="[[=URL('auth/register')]]">
                Sign up
              </a>
              <a class="button is-light" href="[[=URL('auth/login')]]">
                Log in
              </a>
              [[pass]]
            [[if globals().get('user'):]]
              [[ if globals().get('user').get('isPersonlized') == False:]]
                <h4>NOT </h4>

              [[pass]]

              [[pass]]

            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer is-flex">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="[[=URL('index')]]">Home</a></li>
          <li><a href="[[=URL('about')]]">About</a></li>
          <li><a href="[[=URL('faq')]]">FAQ</a></li>
        </ul>
      </nav>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/header.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]

</html>
