[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target">


  <div v-if="!submitted" class="container block">
    <div class="title">Personalize your Profile</div>
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->


      <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
          <input readonly type="text" v-model="add_first_name" class="input" placeholder="[[=globals().get('user').get('first_name')]]">
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
          <input readonly type="text" v-model="add_last_name" class="input" placeholder="[[=globals().get('user').get('last_name')]]">
        </div>
      </div>
      <div class="field">
        <label class="label">Username:</label>
        <div class="control">
          <input type="text" v-model="add_user_userName" class="input">
        </div>
        <h2 class="has-text-danger" v-if="!validUsername">Choose a unique username!</h2>

      </div>
      <div class="field">
        <label class="label">Email:</label>
        <div class="control">
          <input readonly type="text" v-model="add_user_Email" class="input" placeholder="[[=globals().get('user').get('email')]]" disabled>
        </div>
      </div>
      <div class="field  ">
        <label class="label">Top Three Product Preferences:</label>
         <select v-model="add_preference1">
              <option value="" disabled selected>Select an option</option>
              <option>Jewelry & Accessories</option>
              <option>Clothing & Shoes</option>
              <option>Home & Living</option>
              <option>Toys & Entertainment</option>
              <option>Art & Collectibles</option>
              <option>Other</option>
         </select>
          <br>
          </br>
         <select v-model="add_preference2">
              <option value="" disabled selected>Select an option</option>
              <option>Jewelry & Accessories</option>
              <option>Clothing & Shoes</option>
              <option>Home & Living</option>
              <option>Toys & Entertainment</option>
              <option>Art & Collectibles</option>
              <option>Other</option>
         </select>
          <br>
          <br>

         <select v-model="add_preference3">
              <option value="" disabled selected>Select an option</option>
              <option>Jewelry & Accessories</option>
              <option>Clothing & Shoes</option>
              <option>Home & Living</option>
              <option>Toys & Entertainment</option>
              <option>Art & Collectibles</option>
              <option>Other</option>
         </select>

      </div>

      <div class="field">
        <div class="control">
          <input type="submit" @click="add_personalisation" value=" Submit! " class="button is-primary">
          <!--<input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">-->
        </div>
      </div>
    </div>
  </div>

  <h3 v-if="submitted" > Redirect Here
      <a class="button is-success" href="[[=URL('index')]]">
            Return to Homepage
     </a>


  </h3>


<!--Debugging Purposes DB Table -->

  <div class="container block">
    <h1 class="title">Users</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>p1</th>
        <th>p2</th>
        <th>p3</th>
        <th>id</th>
        <th></th>
      </tr>
      <tr v-for="r in rows">
        <h1>hello</h1>
        <td>{{r.first_name}}</td>
        <td>{{r.last_name}}</td>
        <td>{{r.user_email}}</td>
        <td>{{r.username}}</td>
        <td>{{r.preference1}}</td>
        <td>{{r.preference2}}</td>
        <td>{{r.preference3}}</td>
        <td>{{r.id}}</td>
      </tr>
    </table>
  </div>



</div>



[[block page_scripts]]
<script>
  let  add_personalisation_url= "[[=XML(add_personalisation_url)]]";
  let load_users_url = "[[=XML(load_users_url)]]";

</script>
<script src="js/personalization.js"></script>
[[end]]