[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section " id="vue-target">

    <div class="column is-half is-offset-one-quarter is-vcentered ">

        <div v-if="!submitted" class="container block">
            <div class="title">Let's Personalize, [[=globals().get('user').get('first_name')]]! </div>
            <div class="form">

              <!-- This looks like a form, but is not.  We just need the inputs. -->

              <div class="field">
                <label class="label">Choose a Username:</label>
                <div class="control">
                  <input type="text" v-model="add_user_userName" class="input">
                </div>
                  <h2 class="has-text-danger" v-if="!validUsername">Choose a unique username!</h2>
                  <h2 class="has-text-danger" v-if="error_flag">Choose a username!</h2>


              </div>
              <div class="field  ">
                <label class="label">Top Three Product Preferences:</label>
                 <select v-model="add_preference1">
                      <option value="" disabled selected>Select an option</option>
                      <option>Jewelry and Accessories</option>
                      <option>Clothing and Shoes</option>
                      <option>Home and Living</option>
                      <option>Toys and Entertainment</option>
                      <option>Art and Collectibles</option>
                      <option>Other</option>
                 </select>
                  <br>
                  </br>
                 <select v-model="add_preference2">
                      <option value="" disabled selected>Select an option</option>
                      <option>Jewelry and Accessories</option>
                      <option>Clothing and Shoes</option>
                      <option>Home and Living</option>
                      <option>Toys and Entertainment</option>
                      <option>Art and Collectibles</option>
                      <option>Other</option>
                 </select>
                  <br>
                  <br>

                 <select v-model="add_preference3">
                      <option value="" disabled selected>Select an option</option>
                      <option>Jewelry and Accessories</option>
                      <option>Clothing and Shoes</option>
                      <option>Home and Living</option>
                      <option>Toys and Entertainment</option>
                      <option>Art and Collectibles</option>
                      <option>Other</option>
                 </select>

              </div>


              <div class="field">
                <div class="control">
                  <input type="submit" @click="add_personalization" value=" Submit! " class="button is-success">
                  <!--<input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">-->
                </div>
              </div>
            </div>
          </div>



    </div>


</div>



[[block page_scripts]]
<script>
  let  add_personalization_url= "[[=XML(add_personalization_url)]]";
  let load_users_url = "[[=XML(load_users_url)]]";

</script>
<script src="js/personalization.js"></script>
[[end]]