[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

.margin-center-max-width-1000px {
  margin: auto;
  max-width: 1000px;
}

.img-preview {
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.img-preview.selected {
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
}

.rate-button {
  width:150px;
  color: white;
  background-color: red;
}

.buy-button {
  width:150px;
  color: white;
  background-color: green;
}

.subtitle-margin {
  margin-top: 45px;
}

.comment-text {
  text-align: left;
}
</style>

<div id="vue-target" class="section margin-center-max-width-1000px" v-cloak>
  <div class="columns block is-mobile">
    <div class="column is-half">
      <div class="columns block is-mobile">
        <div class="column is-one-quarter">
          [[for image in product.get("images", ""):]]
          <div :class="'[[=URL('static', image)]]' == productImage ? 'block img-preview selected' : 'block img-preview'" @click="productImage='[[=URL('static', image)]]'">
            <div class="card">
              <div class="card-image">
                <figure class="image is-1by1">
                  <img src="[[=URL('static', image)]]">
                </figure>
              </div>
            </div>
          </div>
          [[pass]]

        </div>
        <div class="column is-three-quarters">

          <div id="product_image" class="card">
            <div class="card-image">
              <figure class="image is-1by1">
                <img :src=productImage>
              </figure>
            </div>
          </div>

        </div>
      </div>
  </div>

  <div class="column is-half">
    <div><b>[[=product.get("name", "")]] <a href="[[=URL('profile', product.get('seller', ''))]]">([[=product.get("seller", "")]])</a></b></div>
    <div>[[=product.get("description", "")]]</div>
  </div>
</div>

<section class="section margin-center-max-width-1000px">
  <div class="columns block is-mobile">
    <div class="column is-half">
      <center>

        <button class="button rate-button">Rate</button>
        <br/>
        <h1 class="subtitle subtitle-margin">Thoughts</h1>

        [[for thought in thoughts:]]
        <div class="block">
          <div class="columns block is-mobile">
            <div class="column is-one-quarter">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img src="[[=URL('static', thought.get('profile_pic', ''))]]">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column is-two-quarters comment-text">
              @<a href="[[=URL('profile', thought.get('username', ''))]]">[[=thought.get("username", "")]]</a> [[=thought.get("comment", "")]]
            </div>
          </div>
        </div>
        [[pass]]

      </center>
    </div>
    <div class="column is-half">
      <center>

        <button class="button buy-button">Buy</button>
        <br/>
        <h1 class="subtitle subtitle-margin">Reviews</h1>

        [[for review in reviews:]]
        <div class="block">
          <div class="columns block is-mobile">
            <div class="column is-one-quarter">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img src="[[=URL('static', review.get('profile_pic', ''))]]">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column is-two-quarters comment-text">
              @<a href="[[=URL('profile', review.get('username', ''))]]">[[=review.get("username", "")]]</a> [[=review.get("comment", "")]]
            </div>
          </div>
        </div>
        [[pass]]

      </center>
    </div>
  </div>
</section>
</div>
<!-- body END -->


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script type="text/javascript">
  var initialProductImage = "[[=URL('static', product.get('images',0)[0])]]"
</script>
<script src="js/product.js"></script>
[[end]]
