[[extend 'layout.html']]

[[block page_head]]
  <title>Orders</title>
[[end]]

    <div>
        [[if globals().get('user'):]]
                <div class="column has-text-right">
                    <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('shopping_cart', signer=url_signer)]]">
                        <i class="fa  fa-shopping-cart "></i>
                    </a>
                    [[if isPersonalized == True:]]
                        <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('profile', currentUserName, signer=url_signer)]]">
                            <i class="fa fa-fw fa-user "></i>
                        </a>

                    [[else:]]
                     [[if isPersonalized == False:]]
                         <a style="color:#f1641e;" class="button  has-text-centered" href="[[=URL('add_user_personalization', signer=url_signer)]] ">
                             <i class="fa fa-fw fa-user"></i>
                         </a>
                        [[pass]]
                    [[pass]]
                </div>
        [[pass]]

     </div>


<div class="section">
    [[=grid.render()]]
</div>
